.notFound {
    min-height: calc(100vh - 248px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notFound .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1ren;
  }